.redirect-container{
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    padding: 0;
    text-align: center;
}

.li-logo {
    width: 256px; 
    height: auto; 
    box-shadow: 0 0 30px 3px var(--lowink-orange-glow); 
    border-radius: 50%;
    margin-top: auto;
}

.li-text{
    font-family: 'LEMON MILK', sans-serif;
    font-size: 3.8em;
    margin: 12px;
    text-shadow: 0 0 35px var(--lowink-orange-glow);
}

.redirect-container p {
    opacity: 30%;
    font-size: .7em;
    margin-top: auto;
    font-weight: 500;
}