:root{
    --lowink-darktext: #cfcfcf;
    
    --alpha-pink: #ff009e;
    --beta-red: #ff0000;
    --gamma-green: #08b672;
    --first-gold: #d4af37;
    --second-silver: #c0c0c0;
    --third-bronze: #b87333;
}

.hof-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
    max-width: 1700px;
}

.section-box {
    flex: 1 1 300px;
    user-select: none;
    cursor: pointer;
}
.section-box:hover{
    box-shadow: 0 0 25px 4px var(--lowink-orange-glow);
}

.section-box-content {
    text-align: left;
}

place {
    font-weight: bolder;
    font-size: 1.4em;
    padding: 0 16px;
}
.hof-beta place {
    font-size: 1.1em;
}
.hof-gamma place {
    font-size: 1.1em;
}

.section-box-content p{
    width: 100%;
    padding: 0 16px;
    text-align: right;
}

.hof-alpha1st{
    border: 2px solid var(--first-gold);
    border-radius: 20px;
    margin: 8px 0;
    background: linear-gradient(90deg, var(--first-gold) -100%, #00000000 100%);
    /* box-shadow: 0 0 5px 1px var(--first-gold); */
    display: flex;
    align-items: center;
}

.hof-alpha2nd{
    border: 2px solid var(--second-silver);
    border-radius: 20px;
    margin: 8px 0;
    background: linear-gradient(90deg, var(--second-silver) -100%, #00000000 100%);
    /* box-shadow: 0 0 5px 1px var(--second-silver); */
    display: flex;
    align-items: center;
}

.hof-alpha3rd{
    border: 2px solid var(--third-bronze);
    border-radius: 20px;
    margin: 8px 0;
    background: linear-gradient(90deg, var(--third-bronze) -100%, #00000000 100%);
    /* box-shadow: 0 0 5px 1px var(--third-bronze); */
    display: flex;
    align-items: center;
}

.hof-beta{
    border: 2px solid var(--beta-red);
    border-radius: 20px;
    margin: 8px 0;
    background: linear-gradient(90deg, var(--beta-red) -100%, #00000000 100%);
    /* box-shadow: 0 0 5px 1px var(--beta-red); */
    display: flex;
    align-items: center;
}

.hof-gamma{
    border: 2px solid var(--gamma-green);
    border-radius: 20px;
    margin: 8px 0;
    background: linear-gradient(90deg, var(--gamma-green) -100%, #00000000 100%);
    /* box-shadow: 0 0 5px 1px var(--gamma-green); */
    display: flex;
    align-items: center;
}

.hof-modal-bg{
    display: flex;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background: radial-gradient(circle, rgba(45,20,0,0.82) 0%, rgba(0,0,0,0.82) 100%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    animation-duration: .3s;
    animation-name: fadeIn;
}

.hof-modal-close {
    font-size: 64px;
    cursor: pointer;
    position: fixed;
    top: 32px;
    left: 32px;
}

.hof-modal-content {
    align-items: center;
    background-color: var(--lowink-darkgrey);
    border-radius: 20px;
    box-shadow: 0 0 30px 10px var(--lowink-orange-glow);
    padding: 40px;
    border: 2px solid var(--lowink-orange);
    line-height: 1.6em;
    text-align: center;
    animation-duration: .4s;
    animation-name: openModal;
    max-height: 60vh;
    min-width: 40vw;
    overflow: auto;
}
.hof-modal-content::-webkit-scrollbar{
    background: #00000000;
    width: 20px;
}
.hof-modal-content::-webkit-scrollbar-thumb{
    background: var(--lowink-orange);
    width: 20px;
    border-radius: 10px;
}
.hof-modal-content::-webkit-scrollbar-thumb:hover{
    background: var(--lowink-text);
}

.hof-modal-team-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    font-weight: 500;
}

.hof-modal-team-name{
    margin: 0 auto 0 0;
    padding: 2px;
    font-size: 1.2em;
    text-align: left;
    overflow-wrap: break-word;
}

.hof-modal-team-result{
    margin: 2px 0 2px 10px;
    font-size: .8em;
    color: var(--lowink-darktext);
}

.hof-modal-team-place{
    font-weight: 600;
    margin: 2px 15px 2px 0;
    font-size: .9em;
    width: 40px;
    text-align: left;
    color: var(--lowink-darktext);    
}

@keyframes openModal {
    from {
        opacity: 0%;
        margin-top: 15%;
    }
    to{
        opacity: 100%;
        margin-top: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}