:root{
    --lowink-darktext: #cfcfcf;
    
    --alpha-pink: #ff009e;
    --beta-red: #ff0000;
    --gamma-green: #08b672;
    --delta-yellow: #fce586;
    --first-gold: #d4af37;
    --second-silver: #c0c0c0;
    --third-bronze: #b87333;
}

.hof-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    width: 100%;
    height: 100%;
    max-width: 100ch;
}

.section-box {
    position: relative;
    user-select: none;
    cursor: pointer;
    transition-duration: .2s;
    animation-name: animateTourneyIn;
    animation-duration: .8s;
    animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    margin: 1.5rem;
}
.section-box:hover{
    box-shadow: 0 0 1em .2em var(--lowink-orange-glow);
    transform: scale(1.02);
}

@media (prefers-reduced-motion) {
    .section-box {
        animation: none !important;
        visibility: visible !important;
    }
}

@media only screen and (max-width: 600px) {
    .section-box{
        margin: 1.5rem 0;
    }
}

.section-box-content {
    text-align: left;
}

place {
    font-weight: bolder;
    font-size: 1.4em;
    padding: 0 1ch;
}
.hof-beta place {
    font-size: 1.1em;
}
.hof-gamma place {
    font-size: 1.1em;
}
.hof-delta place {
    font-size: 1.1em;
}

.section-box-content p{
    width: 100%;
    padding: 0 1ch;
    text-align: right;
}

.hof-placeBox{
    border: .1em solid;
    border-radius: 1em;
    margin: .5ch 0;
    display: flex;
    align-items: center;
}

.hof-alpha1st{
    border-color: var(--first-gold);
    background: linear-gradient(90deg, var(--first-gold) -100%, #00000000 100%);
}

.hof-alpha2nd{
    border-color: var(--second-silver);
    background: linear-gradient(90deg, var(--second-silver) -100%, #00000000 100%);
}

.hof-alpha3rd{
    border-color: var(--third-bronze);
    background: linear-gradient(90deg, var(--third-bronze) -100%, #00000000 100%);
}

.hof-beta{
    border-color: var(--beta-red);
    background: linear-gradient(90deg, var(--beta-red) -100%, #00000000 100%);
}

.hof-gamma{
    border-color: var(--gamma-green);
    background: linear-gradient(90deg, var(--gamma-green) -100%, #00000000 100%);
}

.hof-delta{
    border-color: var(--delta-yellow);
    background: linear-gradient(90deg, var(--delta-yellow) -100%, #00000000 100%);
}

.hof-modal-bg{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 200;
    overflow: auto;
    background: var(--lowink-modal-bg);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    animation-duration: .2s;
    animation-name: fadeIn;
}

.hof-modal-close {
    font-size: 4em;
    cursor: pointer;
    position: fixed;
    text-shadow: 0 0 .1em var(--lowink-orange);
    top: 1rem;
    left: 1rem;
}

.hof-modal-content {
    align-items: center;
    background-color: var(--lowink-darkgrey);
    border-radius: 2em;
    box-shadow: 0 0 3em .25em var(--lowink-orange-glow);
    padding: 2em;
    border: .1em solid var(--lowink-orange);
    line-height: 1.6em;
    text-align: center;
    animation-duration: .4s;
    animation-name: openModal;
    max-height: 70vh;
    min-width: 40vw;
    overflow: auto;
}
@media (prefers-reduced-motion) {
    .hof-modal-content {
        animation: none;
    }
}
@media only screen and (max-width: 600px) {
    .hof-modal-bg{
        justify-content: flex-end;
    }

    .hof-modal-close {
        font-size: 3.5em;
        cursor: pointer;
        position: fixed;
        top: .1em;
        left: .3em;
    }

    .hof-modal-content {
        padding: 0;
        overflow-x: hidden;
        max-height: calc(100vh - 5em);
        max-width: 95vw;
    }
}
@media only screen and (min-width: 600px) {
    .hof-modal-content::-webkit-scrollbar{
        background: #00000000;
        width: 1em;
    }
    .hof-modal-content::-webkit-scrollbar-thumb{
        background: var(--lowink-orange);
        width: 1em;
        border-radius: .5em;
    }
    .hof-modal-content::-webkit-scrollbar-thumb:hover{
        background: var(--lowink-text);
    }
}

.hof-modal-team-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5em;
    border-radius: .25em;
    font-weight: 500;
}

.hof-modal-team-name{
    margin: 0 auto 0 0;
    padding: .1em;
    font-size: 1.2em;
    text-align: left;
    overflow-wrap: break-word;
}

.hof-modal-team-result{
    margin: .2em 0 .2em 0;
    font-size: .8em;
    color: var(--lowink-darktext);
}

.hof-modal-team-result:not(:first-child){
    margin: .2em 0 .2em .5em;
}

.hof-modal-team-place{
    font-weight: 600;
    margin-right: .5em;
    font-size: .9em;
    width: 2.5em;
    text-align: left;
    color: var(--lowink-darktext);    
}

@media only screen and (max-width: 600px) {
    .hof-modal-team-name {
        max-width: 40%;
        font-size: 1em;
        padding: 0;
        line-height: 1.25em;
    }
    
    .hof-modal-team-result{
        font-size: .7em;
    }
    
    .hof-modal-team-place{
        font-size: .8em;
    }
}

.hof-modal-battlefy-link{
    font-size: .8em;
    padding: .7em;
    margin: 1em;
    border-radius: 1em;
    background: var(--lowink-grey);
    text-decoration: none;
    border-color: var(--lowink-orange);
    transition-duration: .2s;
    user-select: none;
}

.hof-modal-battlefy-link:hover{
    border: .05em solid var(--lowink-orange);
}

@keyframes animateTourneyIn {
    from {
        opacity: 0%;
        top: 10vh;
        visibility: visible;
    }
    to {
        opacity: 100%;
        top: 0vh;
        visibility: visible;
    }
}

@keyframes openModal {
    from {
        opacity: 0%;
        margin-top: 15%;
    }
    to{
        opacity: 100%;
        margin-top: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}