.buffer{
    font-size: 2em;
    margin-top: 10vh;
    margin-bottom: 90vh;
}

.tabs-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    margin-bottom: .8em;
    border-bottom: .08em solid var(--lowink-orange);
}

.tab{
    all: unset;
    margin: 0 .5em;
    padding: .6em;
    padding-bottom: .4em;
    margin-top: .2em;
    border: .1em solid var(--lowink-orange-glow);
    border-radius: 1em 1em 0 0;
    border-bottom: none;
    cursor: pointer;
    transition-duration: .1s;
    font-weight: 600;
}

.tab:hover{
    border-color: var(--lowink-orange);
}

@media only screen and (max-width: 900px) {
    .tabs-wrapper{
        flex-wrap: wrap;
        padding-bottom: 1em;
    }

    .tab{
        border: .1em solid var(--lowink-orange-glow);
        border-radius: 1em;
        margin: .2em;
    }
}

.active{
    background: var(--lowink-orange);
}

.register-content{
    font-size: 1.2em;
}

.register-button{
    all: unset;
    margin: 0 .5em 1em 0;
    padding: .6em;
    border: .1em solid var(--lowink-orange);
    border-radius: .8em;
    cursor: pointer;
    transition-duration: .1s;
    font-weight: 700;   
    font-size: 1.2em;
}
.register-button:hover{
    transform: scale(1.08);
}

.team-count{
    text-align: center;
    font-size: 2em;
    margin-bottom: .5em;
}

.teams-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.tourney-schedule p{
    margin: 2px;
    text-align: center;
}

.teams-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.team-modal{
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 200;
    overflow: auto;
    backdrop-filter: blur(12px) brightness(60%) grayscale(40%);
    background: var(--lowink-alt-header);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    animation-duration: .2s;
    animation-name: fadeIn;
}

@-moz-document url-prefix() {
    .team-modal{
        background: var(--lowink-alt-header);
    }
}

.team-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lowink-darkgrey);
    border-radius: 20px;
    box-shadow: 0 0 30px 10px var(--lowink-orange-glow);
    padding: 24px;
    border: 2px solid var(--lowink-orange);
    line-height: 1.6em;
    text-align: center;
    animation-duration: .4s;
    animation-name: openModal;
    max-height: 60vh;
    min-width: 25vw;
    overflow: auto;
}
@media (prefers-reduced-motion) {
    .team-modal-content {
        animation: none;
    }
}

.team-modal-content h2 {
    margin: 8px;
}

.team-modal-content p {
    margin: 8px;
}

.team-modal-content img{
    margin: 8px;
    width: 128px;
    height: 128px;
    border-radius: 100%;
}

.team-modal-close {
    font-size: 4em;
    cursor: pointer;
    position: fixed;
    text-shadow: 0 0 .1em var(--lowink-orange);
    top: 32px;
    left: 32px;
}

.team-modal-button{
    border: 2px solid var(--lowink-orange);
    border-radius: 16px;
    padding: 8px;
    margin: 8px;
    max-width: 160px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
    flex: 1 1 300px;
    transition-duration: .2s;
}
@media only screen and (max-width: 500px) {
    .team-modal-button{
        flex-direction: row;
        max-width: 100%;
        margin: 3px 0 0 0;
    }
}
.team-modal-button:hover{
    box-shadow: 0 0 20px 4px var(--lowink-orange-glow);
    transform: scale(1.03);
}
.team-modal-button img{
    border-radius: 100%;
    margin: 0;
    width: 64px;
    height: 64px;
}
@media only screen and (max-width: 500px) {
    .team-modal-button img{
        width: 48px;
        height: 48px;
    }
}
.team-modal-button p{
    text-align: center;
    padding: 6px 0;
    margin: 0 0 0 0;
    max-width: 160px;
    overflow-wrap: break-word;
}
@media only screen and (max-width: 500px) {
    .team-modal-button p{
        margin: auto;
    }
}

@keyframes openModal {
    from {
        margin-top: 15%;
    }
    to{
        margin-top: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.section-box-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
}

.section-box-content{
    animation: fadeIn .4s;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.tourney-rules{
    font-size: .8em;
    line-height: 1.4em;
    font-weight: 500;
}

.tourney-rules a{
    word-break: break-all;
}