:root{
    --lowink-grey: #2C2C2C;
    --lowink-header: #2c2c2cd7;
    --lowink-alt-header: #2c2c2ce5;
    --lowink-darkgrey: #1C1C1C;
    --lowink-orange: #F37002;
    --lowink-orange-glow: #f36e028e;
    --lowink-orange-gradient: #f36e0221;
    --lowink-text: #FFFFFF;
    --lowink-modal-bg: #1c1c1c9d;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--lowink-text);
    background-color: var(--lowink-grey);
}

@media only screen and (max-width: 600px) {
    :root{
        font-size: 1.1em;
    }
}

@font-face {
    font-family: 'LEMON MILK';
    font-style: normal;
    font-weight: bold;
    src: url('../assets/LEMONMILK-Bold.otf') format('opentype');
}

body{
    margin: 0;
}

a{
    color: var(--lowink-text);
}

.header-wrapper{
    position: sticky;
    z-index: 100;
    top: 0;
    width: calc(100% - 2em);
    padding: .4em 1em .4em 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    backdrop-filter: blur(12px) grayscale(70%);
    background: var(--lowink-header);
    border-bottom: .15em solid var(--lowink-orange);
}

.header-logo{
    font-family: 'LEMON MILK', sans-serif;
    font-size: 2.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-shadow: 0 0 .3em var(--lowink-orange-glow);
    cursor: pointer;
    user-select: none;
    position: relative;
    transition-duration: .2s;
}
.header-logo:hover{
    text-shadow: 0 0 25px var(--lowink-orange-glow);
}
.header-logo:active{
    text-shadow: 0 0 35px var(--lowink-orange);
}

.header-logo img{
    width: 1.2em;
    margin-right: .4ch;
    border-radius: 50%;
    box-shadow: 0 0 15px 3px var(--lowink-orange-glow);
}

@media only screen and (max-width: 1000px) {
    .header-logo div{
        display: none;
    }
}

.header-nav-mobile-menu{
    display: none;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.header-nav div{
    border-radius: 12px;
    border: 2px solid var(--lowink-darkgrey);
    background: var(--lowink-darkgrey);
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    position: relative;
    font-size: .8em;
    transition-duration: .1s;
}

.header-nav div:not(:first-child){
    margin-left: .75em;
}

.header-nav div:hover{
    transform: scale(1.1);
    border-color: var(--lowink-orange);
}

.header-nav div:active{
    transform: scale(1.05);
}

.header-nav > .selected{
    border-color: var(--lowink-orange);
}

.header-nav > .play{
    background: linear-gradient(52deg, rgba(28,28,28,1) -50%, rgba(96,50,13,1) 100%);
}

@media only screen and (max-width: 700px) {
    .header-wrapper{
        max-height: 90vh;
        overflow-y: auto;
    }

    .header-nav-mobile-menu{
        display: block;
        font-size: 1.5em;
        transition-duration: .1s;
        cursor: pointer;
    }
    .header-nav-mobile-menu:hover{
        transform: scale(1.1);
    }
    .header-nav-mobile-menu:active{
        transform: scale(.85);
    }

    .header-nav{
        display: none;
        margin-top: 1.5em;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .index-header-nav{
        display: flex;
        font-size: .75em;
    }

    .index-header-nav div{
        animation: none;
    }

    .header-nav div{
        margin: .3em;
        font-size: 1em;
        animation: navButtonAppear .3s;
    }

    .header-nav div:not(:first-child){
        margin: .3em;
    }

    .open{
        display: block;
    }

    @keyframes navButtonAppear {
        from{
            opacity: 0;
            transform: translateX(5em);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.arrows-bg{
    background-image: url(../assets/bgtileable.png);
    background-size: 300px auto;
    background-attachment: fixed;
    animation-name: bgScroll;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media (prefers-reduced-motion) {
    .arrows-bg{
        animation: none;
    }
}

@media screen and (max-width: 600px) {
    .arrows-bg{
        background-size: 150px auto;
        animation-duration: 30s;
    }
}


.page-gradient{
    background: radial-gradient(circle, #00000000 0%, #00000000 40%, var(--lowink-orange-gradient) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}

.page-title{
    font-size: 3em;
    margin-bottom: .5em;
    padding: .5em;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px) grayscale(45%);
    background: linear-gradient(52deg, rgba(198,90,0,0.1) 0%, rgba(198,90,0,0.36) 100%);
    border-bottom: .04em solid var(--lowink-orange);
    animation: pageTitleSlideIn .6s forwards;
}

@media (prefers-reduced-motion) {
    .page-title{
        animation: none;
    }
}

.page-title i{
    margin-right: .5em;
}

@media only screen and (max-width: 600px) {
    .page-title{
        font-size: 2em;
        padding-top: 1.4em;
        padding-bottom: 1.4em;
    }
}

@keyframes pageTitleSlideIn {
    from{
        position: relative;
        top: -2em;
        opacity: 0%;
    }
    to{
        position: relative;
        top: 0em;
        opacity: 100%;
    }
}

.section-box{
    background-color: var(--lowink-darkgrey);
    border: .1em solid var(--lowink-orange);
    box-shadow: 0 0 .5em .1em var(--lowink-orange-glow);
    border-radius: 1rem;
    margin: 1.5rem 2vw;
    padding: 1.5rem;
    max-width: 70ch;
    animation: sectionBoxSlideIn .5s forwards;
    animation-delay: .2s;
    opacity: 0;
    scroll-margin-top: 8em;
}
@media only screen and (max-width: 600px) {
    .section-box{
        padding: 1.5rem 1rem;
        border-radius: 0;
        margin-right: 0;
        margin-left: 0;
        border-left: none;
        border-right: none;
        width: -webkit-fill-available !important;
    }
}
@media (prefers-reduced-motion) {
    .section-box{
        animation: none;
        opacity: 100;
    }
}

@keyframes sectionBoxSlideIn {
    from {
        position: relative;
        top: 5em;
        opacity: 0%;
    }
    to{
        position: relative;
        top: 0em;
        opacity: 100%;
    }
}

.section-box-content p{
    font-weight: 500;
    line-height: 1.3em;
}

.section-box-content a{
    color: var(--lowink-text);
    text-shadow: 0 0 6px var(--lowink-orange-glow);
}

.section-box-content img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 65vh;
    box-shadow: 0 0 16px 2px var(--lowink-orange-glow);
    border-radius: .75em;
}

.section-box-title{
    font-size: 2em;
    text-shadow: 0 0 15px var(--lowink-orange-glow);
}

.section-box-divider{
    background-color: var(--lowink-orange);
    margin-top: .6em;
    margin-bottom: .6em;
    width: 100%;
    height: .12em;
}

.footer-wrapper{
    padding: 1em 0 1em 0;
    align-items: center;
    font-size: .60em;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: right;
    border-top: .25em solid var(--lowink-orange);
}

.clickable{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

iframe {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .footer-wrapper{
        flex-direction: column;
        text-align: center;
    }
}

@keyframes bgScroll {
    from {
        background-position: 0px 0;
    }
    to {
        background-position: -300px 0;
    }
}
