:root{
    --lowink-grey: #2C2C2C;
    --lowink-header: #2c2c2c70;
    --lowink-darkgrey: #1C1C1C;
    --lowink-orange: #F37002;
    --lowink-orange-glow: #f36e028e;
    --lowink-orange-gradient: #f36e0221;
    --lowink-text: #FFFFFF;

    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: var(--lowink-text);
    background-color: var(--lowink-grey);
}

@media only screen and (max-width: 600px) {
    :root{
        font-size: 18px;
    }
}

@font-face {
    font-family: 'LEMON MILK';
    font-style: normal;
    font-weight: bold;
    src: url('../assets/LEMONMILK-Bold.otf') format('opentype');
}

body{
    margin: 0;
}

a{
    color: var(--lowink-text);
}

.header-wrapper{
    position: sticky;
    z-index: 100;
    top: 0;
    background: transparent;
    width: calc(100% - 2em);
    padding: .4em 1em .4em 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    backdrop-filter: blur(12px) grayscale(70%);
    background: var(--lowink-header);
    border-bottom: .15em solid var(--lowink-orange);
}

.header-logo{
    font-family: 'LEMON MILK', sans-serif;
    font-size: 2.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-shadow: 0 0 .3em var(--lowink-orange-glow);
    cursor: pointer;
    user-select: none;
    position: relative;
    transition-duration: .2s;
}
.header-logo:hover{
    text-shadow: 0 0 25px var(--lowink-orange-glow);
}
.header-logo:active{
    text-shadow: 0 0 35px var(--lowink-orange);
}

.header-logo img{
    width: 1.2em;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 0 0 15px 3px var(--lowink-orange-glow);
}

@media only screen and (max-width: 1000px) {
    .header-logo div{
        display: none;
    }
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.header-nav div{
    border-radius: 12px;
    border: 2px solid var(--lowink-darkgrey);
    background: var(--lowink-darkgrey);
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    position: relative;
    font-size: .8em;
    transition-duration: .1s;
}

.header-nav div:not(:first-child){
    margin-left: .75em;
}

.header-nav div:hover{
    transform: scale(1.1);
    border-color: var(--lowink-orange);
}

.header-nav div:active{
    transform: scale(1.05);
}

.header-nav > .selected{
    border-color: var(--lowink-orange);
}

.header-nav > .play{
    background: linear-gradient(52deg, rgba(28,28,28,1) -50%, rgba(96,50,13,1) 100%);
}

@media only screen and (max-width: 700px) {
    .header-nav{
        flex-wrap: wrap;
    }

    .header-nav:not(.index-header-nav){
        justify-content: right;
        width: 70%
    }

    .header-nav div{
        white-space: nowrap;
        margin: .2em;
        font-size: .75em;
    }

    .header-nav:not(.index-header-nav) div i{
        display: none;
    }

    .header-nav:not(.index-header-nav) div br{
        display: none;
    }

    .header-nav div:not(:first-child){
        margin-left: .2em;
    }
}

.arrows-bg{
    background-image: url(../assets/bgtileable.png);
    background-size: 300px auto;
    background-attachment: fixed;
    animation-name: bgScroll;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media (prefers-reduced-motion) {
    .arrows-bg{
        animation: none;
    }
}


.page-gradient{
    background: radial-gradient(circle, #00000000 0%, #00000000 40%, var(--lowink-orange-gradient) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title{
    font-size: 3em;
    margin-bottom: .5em;
    padding: .5em;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px) grayscale(45%);
    background: linear-gradient(52deg, rgba(198,90,0,0.1) 0%, rgba(198,90,0,0.36) 100%);
    border-bottom: .04em solid var(--lowink-orange);
    animation: pageTitleSlideIn .6s forwards;
}

@media (prefers-reduced-motion) {
    .page-title{
        animation: none;
    }
}

.page-title i{
    margin-right: .5em;
}

@media only screen and (max-width: 600px) {
    .page-title{
        font-size: 2em;
    }
}

@keyframes pageTitleSlideIn {
    from{
        position: relative;
        top: -2em;
        opacity: 0%;
    }
    to{
        position: relative;
        top: 0em;
        opacity: 100%;
    }
}

.section-box{
    background-color: var(--lowink-darkgrey);
    border: 2px solid var(--lowink-orange);
    box-shadow: 0 0 16px 1px var(--lowink-orange-glow);
    border-radius: 20px;
    margin: 30px 2vw;
    padding: 30px;
    max-width: 1000px;
    animation: sectionBoxSlideIn .5s forwards;
    animation-delay: .2s;
    opacity: 0;
}
@media only screen and (max-width: 600px) {
    .section-box{
        padding: 30px 15px;
    }
}
@media (prefers-reduced-motion) {
    .section-box{
        animation: none;
        opacity: 100;
    }
}

@keyframes sectionBoxSlideIn {
    from {
        position: relative;
        top: 5em;
        opacity: 0%;
    }
    to{
        position: relative;
        top: 0em;
        opacity: 100%;
    }
}

.section-box-content p{
    font-weight: 500;
}

.section-box-content a{
    color: var(--lowink-text);
    text-shadow: 0 0 6px var(--lowink-orange-glow);
}

.section-box-content img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 65vh;
    box-shadow: 0 0 16px 2px var(--lowink-orange-glow);
    border-radius: 20px;
}

.section-box-title{
    font-size: 2em;
    text-shadow: 0 0 15px var(--lowink-orange-glow);
}

.section-box-divider{
    background-color: var(--lowink-orange);
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    height: 3px;
}

.footer-wrapper{
    padding: 1em 0 1em 0;
    align-items: center;
    font-size: .60em;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: right;
    border-top: .25em solid var(--lowink-orange);
}

.clickable{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

iframe {
    width: 100%;
    height: 60vh;
}

@media only screen and (max-width: 600px) {
    .footer-wrapper{
        flex-direction: column;
        text-align: center;
    }
}

@keyframes bgScroll {
    from {
        background-position: 0px 0;
    }
    to {
        background-position: -300px 0;
    }
}

@keyframes upcomingEventGlow {
    0% {
        box-shadow: 0 0 32px 2px var(--lowink-orange-glow);
    }
    50% {
        box-shadow: 0 0 50px 5px var(--lowink-orange-glow);
    }
    100% {
        box-shadow: 0 0 32px 2px var(--lowink-orange-glow);
    }
}
